<div class="jumbotron center">
  <h1>Welcome to Rewind</h1>
  <p>A great place to store and share pretty much anything.</p>
  <tr><a class="btn btn-primary btn-lg" role="button">Sign Up</a></tr>
  <tr><a class="btn btn-primary btn-lg" role="button">Log In</a></tr>
</div>
